.block-heading {
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    font-weight: bold;
    font-size: calc(var(--title)*1.3);
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
}

.about-page > .content {
    margin: 30px auto 10px;
    width: 90%;

}

.about-page > .content > p {
    color: var(--pale-black);
    text-align: left;
    width: 100%;
}

.block-image > img{
    border-radius: 50%
}
.block-image:hover > img {
    cursor: pointer;
}

.button-block {
    border: 2px solid var(--primary-color);
    background: var(--primary-button-color);
    color: var(--primary-color);
    max-width: 300px;
    font-family: var(--primary-font-family);
    font-weight: bold;
    font-size: calc(var(--title) * .7);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 9999;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all .3s ease;
    scrollbar-width: none;
    height: 70px;
    overflow-y: hidden ;
}
.button-block > a {
    color: var(--primary-color);
    transition: all .3s ease;


}

.button-block:hover {
    color: var(--secondary-color);
}
.button-block > a:hover {
    color: var(--secondary-color);
    background: var(--primary-color);
}
.bottom-line {
position: absolute;
width: 96%;
margin: auto;
bottom: -10px;
background: var(--primary-color);
display: inline-block;
height: 10px;
z-index: 1;
left: 2%;
}

.block-heading > a {
    color: var(--primary-color);
}

@media screen and (max-width:768px) {
    .content > h2 {
        font-size: var(--medium-h2);
    }
    .content > p {
        font-size: var(--small-p);
    }
    .block-column > h5 {
        padding: 10px;
        overflow-y: visible !important;
        scrollbar-width: none;
    }
}

@media screen and (max-width:500px) {
    ul.block-list  {
        padding-left: 0px;
        font-size: var(--small-p);
        list-style-type: disc;
    }
    li::marker {
        visibility: visible !important;
        color: var(--primary-color);
    }
    ul.block-list > li::before {
        content: "- ";
    }
}