
:root {
    --primary-button-color:#faec29;
    --button-hover:#99900b;
    --button-height:35px;
    --primary-color:black;
    --secondary-color:white;
    --tertiary-color:rgb(196, 193, 193);
    --primary-background:rgb(51, 49, 49);
    --primary-font-family:"Brauer Neue", sans-serif;
    --primary-button-font-family:BrauerNeueBlack;
    --danger:rgb(180, 47, 23);
    --gold:gold;
    --golden-text:#af8403;
    --golden-text-hover:#eab308;
    --pale-black:#444;
    --title:2rem;
    --pale-text:#8f8787;
    --hero-index:10;
    --highlight-color:rgba(157, 241, 0, 0.507);
    --medium-h2:1.5rem;
    --small-h2:1.2rem;
    --small-p:.9rem;
}
.dark{

}
@font-face {
  font-family: "Brauer Neue";
  src: url("/fonts/BrauerNeue-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Brauer Neue";
  src: url("/fonts/BrauerNeue-Bold.woff2") format("woff2");
  font-weight: 700;
}


#root {
    margin: 0px;
    width: 100%;
}
body, :root {
    background: var(--secondary-color);
}
.is-hidden {
    display: none;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
    font-weight:400;
    font-family:var(--primary-font-family);
    color:var(--primary-color);
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: var(--primary-font-family);
    overflow-x: hidden;
}
html::selection {
    background-color: var(--highlight-color);
    color: var(--primary-color);

}
*::selection,
*::-moz-selection {
  background-color: #15e90e;
  color: white;
}
@media screen and (min-width:1440px){
    .main-content {
        max-width: 1240px;
        margin: auto;
    }
}
@media screen and (max-width:498px) {
    *{
        max-width: 100vw;
        overflow-x: hidden;
    }
    .fas, .fab, a,.mobile-menu-button{
        overflow-y: hidden;
        scrollbar-width: 0px;
        
    }
}
